* {
  box-sizing: border-box;
}

.cards-box {
  padding: 50px $paddings;
  width: $box-width;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $card-width);
  gap: 50px 48px;

  @media (min-width: $box-width) {
    grid-template-columns: repeat($cards-in-line, $card-width);
  }
}
